$white-color = #ffffff

$black-color = #000000

$blue-color = #2D5AFA

$blue-color-x = #2081F3

$blue-color-y = #2688FA

$gray-font-color = #666

$gray-font-color-x = #999

$stripe-bg-color = #F4F6F8

$orange-font-color = #FF9B26
$font-size-24 = 24px
$font-size-22 = 22px
$font-size-20 = 20px
$font-size-19 = 19px
$font-size-18 = 18px
$font-size-16 = 16px
$font-size-14 = 14px
$font-size-15 = 15px
$font-size-12 = 12px

// $green-color = #21BAC5

// $green-color-y = #22bac6

// $green-color-z = #ecf9fa

// $green-color-w = #caedef

$red-font-color = #FF5454

// $red-bg-color = #FFEFEF


$gray-font-color-x = #a3aab3

$gray-font-color-y = #636F7E

$gray-font-color-z = #CCD1D8

$gray-font-color-w = #636F7E

$gray-font-color-v = #A4AAB4


$gray-border-color = #EAEEF2

$gray-border-color-x = #DCDFE2

$gray-border-color-y = #E9EDF0

$gray-bg-color = #F3F6F8

$gray-bg-color-x = #F2F2F2

// $title-linear-gradient = linear-gradient(#2A8CFF, #3ED3F8)

// $xmhayy-title-linear-gradient = linear-gradient(0deg, #54c89b, #39b995)

$box-shadow = 0px 0px 6px 2px rgba(0, 0, 0, .1)

$box-shadow-x = 0px 0px 10px 0px rgba(68, 90, 111, 0.27)

$box-shadow-blue = 0px 3px 10px 2px rgba(42, 140, 255, 0.4)

$border-radius-4 = 4px
$border-radius-half = 50%



// $checked-line-color = rgba(42, 140, 255, 0.3)

// $xmha-$checked-line-color = rgba(33, 186, 197, 1)

// $progress-active-bg = #F7B066

// $progress-active-box-shadow = 0px 3px 10px 2px rgba(247, 177, 103, 0.4)

// .collapse-transition
//   transition 0.3s height ease-in-out, 0.3s padding-top ease-in-out, 0.3s padding-bottom ease-in-out


// :root
//   --main-theme-color $blue-color
//   --secondary-theme-color $blue-color-x
//   --third-theme-color $blue-color-y
//   --fourth-theme-color $blue-color-z
//   --fifth-theme-color $blue-color-w
//   --title-linear-gradient $title-linear-gradient
//   --checked-line-color $checked-line-color
//   --box-shadow-theme $box-shadow-blue
.page-wrapper
  width 100%
  height 100%
  background $white-color
.s_orange
  background-color #f7b066
.s_green
  background-color #19C2B5
.s_red
  background-color #F74D4D
.red-color
  color $red-font-color !important
.redInfo
  color $red-font-color
  font-size $font-size-16
.f-align-items
  -webkit-box-align center
  -webkit-align-items center
  align-items center
.f-align-items-bottom
  -webkit-box-align center
  -webkit-align-items center
  align-items baseline
.f-display-flex
  display -webkit-box
  display -webkit-flex
  display flex
.f-flex-num
  -webkit-box-flex 1
  -webkit-flex 1
  flex 1
.f-flex-num2
  -webkit-box-flex 2
  -webkit-flex 2
  flex 2
.f-flex-num3
  -webkit-box-flex 3
  -webkit-flex 3
  flex 3
.txt-center
  text-align center
.txt-right
  text-align right
.t-info
  color $gray-font-color-x
  padding-bottom 6px
.t-num
  font-size 34px
  margin-bottom 12px
.normal-mask
  position fixed
  z-index 25
  top 47px
  right 0
  left 0
  bottom 0
  background rgba(53, 59, 64, 0.6)
.normal-width
  width 100%

// .mint-indicator
//   position absolute
//   left 0
//   top 0
//   bottom 0
//   right 0
//   .mint-indicator-wrapper
//       z-index: 2
